<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This website was created with ❤ by Ayush Singh (@ayushblaze).<br> It fetches data from mapbox.com and darksky.net!</p>
        </div>
         {{>footer}}
    </body>
</html>